<nb-layout>
  <nb-layout-column>

    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2">

            <nb-card>
              <nb-card-header>
                <nav class="navigation">
                  <a href="" class="link back-link" aria-label="Back">
                    <nb-icon icon="arrow-back"></nb-icon>
                  </a>
                </nav>
              </nb-card-header>
              <nb-card-body>
                <h2 id="title" class="title text-center">{{'auth.resetPassword.changePassword' | translate }}</h2>
                <p class="sub-title text-center">{{'auth.resetPassword.setNewPassword' | translate }}</p>

                <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
                  <p class="alert-title"><b>{{'general.ohSnap' | translate }}</b></p>
                  <ul class="alert-message-list">
                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                  </ul>
                </nb-alert>

                <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
                  <p class="alert-title"><b>Hooray!</b></p>
                  <ul class="alert-message-list">
                    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                  </ul>
                </nb-alert>

                <form [formGroup]="updateForm" (ngSubmit)="updatePassword(updateForm.value)"  #formDir="ngForm" aria-labelledby="title">

                  <div class="form-control-group mt-5">
                    <label class="label" for="input-password">{{'auth.resetPassword.newPassword' | translate }}:</label>
                    <input nbInput
                           type="password"
                           id="input-password"
                           name="password"
                           class="first"
                           placeholder="{{'auth.resetPassword.newPassword' | translate }}"
                           autofocus
                           fullWidth
                           fieldSize="large"
                           formControlName="password">
                    <ng-container *ngIf="updateForm.hasError('required', ['password']) && formDir.submitted">
                      <p class="caption status-danger">
                        {{'general.requiredPassword' | translate}}
                      </p>
                    </ng-container>
                  </div>

                  <div class="form-group mt-4">
                    <label class="label" for="input-re-password">{{'auth.resetPassword.confirmPassword' | translate }}:</label>
                    <input nbInput
                           id="input-re-password"
                           name="rePass"
                           type="password"
                           class="last"
                           placeholder="{{'auth.resetPassword.confirmPassword' | translate }}"
                           fullWidth
                           formControlName="confirmPassword"
                           fieldSize="large">
                    <ng-container *ngIf="updateForm.hasError('required', ['password']) && formDir.submitted">
                      <p class="caption status-danger">
                        {{'auth.resetPassword.requiredConfirmPassword' | translate }}
                      </p>
                    </ng-container>
                  </div>

                  <button nbButton class="mt-4 mb-5"
                          status="primary"
                          fullWidth
                          [nbSpinner]="loading"
                          size="large">
                          {{'form.submit' | translate }}
                  </button>
                </form>

                <section class="row" aria-label="Sign in or sign up">
                  <div class="col-6"><a class="text-link" routerLink="/auth/sign-in"><b>{{'general.signIn' | translate }}</b></a></div>
                  <div class="col-6"><a routerLink="/auth/sign-up" class="text-link float-end"><b>{{'general.signUp' | translate }}</b></a></div>
                </section>
              </nb-card-body>
            </nb-card>

          </div>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>
