<ng-container>
  <div class="container-fluid">
      <nb-alert outline="warning">{{'general.stripeAccountWarning' | translate }}
      </nb-alert>
      <nb-card accent="primary" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
          <nb-card-header class="row">
						<h4 class="col-12">{{'general.stripeAccounts' | translate }}</h4>
          </nb-card-header>
          <nb-card-body>
						<div class="row mt-4">
							<div class="col-6">
								<nb-select [(ngModel)]="_tableService.pageSize">
                  <nb-option [value]="10">10 {{ 'table.itemPerPage' | translate }}</nb-option>
									<nb-option [value]="20">20 {{ 'table.itemPerPage' | translate }}</nb-option>
									<nb-option [value]="50">50 {{ 'table.itemPerPage' | translate }}</nb-option>
								</nb-select>
							</div>
							<div class="col-6">
								<nb-form-field class="float-end">
									<nb-icon nbPrefix icon="search-outline"></nb-icon>
									<input nbInput name="searchTerm" type="text" [(ngModel)]="_tableService.searchTerm">
								</nb-form-field>
							</div>
						</div>
						<div>
							<div class="table-responsive mt-4">
								<table class="table table-striped table-borderless">
									<thead>
										<tr>
											<th class="name" scope="col" sortable="name" (sort)="onSort($event)">{{ 'chartOfAccount.accountId' | translate }}</th>
											<th class="sku" scope="col" sortable="sku" (sort)="onSort($event)">{{ 'general.email' | translate }}</th>
											<th class="purchase-price" scope="col" sortable="purchasePrice" (sort)="onSort($event)">{{ 'general.detailSubmitted' | translate }}</th>
											<th class="category" scope="col" sortable="category" (sort)="onSort($event)">{{ 'address.country' | translate }}</th>
										</tr>
									</thead>
									<tbody *ngIf="stripeAccounts">
										<tr *ngFor="let item of stripeAccounts">
											<td>
												<ngb-highlight [result]="item.id" [term]="_tableService.searchTerm"></ngb-highlight>
											</td>
											<td>
												<ngb-highlight [result]="item.email" [term]="_tableService.searchTerm"></ngb-highlight>
											</td>
											<td>
												<ngb-highlight [result]="item.details_submitted" [term]="_tableService.searchTerm"></ngb-highlight>
											</td>
											<td>
												<ngb-highlight [result]="item.country" [term]="_tableService.searchTerm"></ngb-highlight>
											</td>
                      <!-- <a routerLink="#" (click)="delete(item.id)"> delete</a> -->
										</tr>

									</tbody>
								</table>
							</div>

							<ngb-pagination [(page)]="_tableService.page"
							                [pageSize]="_tableService.pageSize"
							                [collectionSize]="total$ | async">
							</ngb-pagination>
						</div>
          </nb-card-body>
      </nb-card>
  </div>
</ng-container>
