<ng-container>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <a class="float-end" href="#" routerLink="create" nbButton status="primary" size="small">
          <nb-icon icon="plus"></nb-icon>{{ 'general.newTax' | translate }}
        </a>
      </div>
    </div>
    <nb-card accent="primary" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header class="row">
        <h4 class="col-6">{{ 'general.taxes' | translate }}</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-4">
          <div class="col-6">
            <nb-select [(ngModel)]="_tableService.pageSize">
              <nb-option [value]="10">10 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="20">20 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="50">50 {{ 'table.itemPerPage' | translate }}</nb-option>
            </nb-select>
          </div>
          <div class="col-6">
            <nb-form-field class="float-end">
              <nb-icon nbPrefix icon="search-outline"></nb-icon>
              <input nbInput name="searchTerm" type="text" [(ngModel)]="_tableService.searchTerm">
            </nb-form-field>
          </div>
        </div>
        <div>
          <div class="table-responsive mt-4">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th class="name" scope="col" sortable="name" (sort)="onSort($event)">
                    {{ 'general.name' | translate }}
                  </th>
                  <th class="rate" scope="col" sortable="rate" (sort)="onSort($event)">{{ 'general.rate' | translate }}
                  </th>
                  <th>{{ 'table.actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of taxes | async">
                  <td>
                    <ngb-highlight [result]="item.name" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.rate" [term]="_tableService.searchTerm"></ngb-highlight>%
                  </td>
                  <td>
                    <a [routerLink]="['edit',item.id]" nbButton ghost status="warning">
                      <nb-icon icon="edit"></nb-icon>
                    </a>
                    <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                      <nb-icon icon="close-outline"></nb-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
            [collectionSize]="total$ | async">
          </ngb-pagination>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</ng-container>
