// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
	color: $px-headings-color;
	.white-text & {
		color: $px-headings-color-light;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	.text-white & {
		color: $px-headings-color-light;
	}
}


mark,
.mark {
	color: inherit;
	padding: 0;
	background: 0 0;
	background-image: $px-mark-bg;
	background-repeat: no-repeat;
	background-size: 100% .3em;
	background-position: 0 80%;
	position: relative;
}