<nb-card accent="primary">
	<nb-card-header>
		<h6>{{formTitle}}</h6>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="entityForm" #formDir="ngForm" (ngSubmit)="save(entityForm.value)" novalidate>
      <div class="row mb-4">
        <div class="col-12">
          {{'general.mandatoryField' | translate}}
        </div>
      </div>

			<div class="mg-top form-group row">
				<label class="col-2" for="bill">{{ 'general.bill' | translate }} *</label>
				<div class="col-4">
					<nb-select id="bill" name="bill" formControlName="billId" placeholder="{{ 'general.bill' | translate }}" fullWidth status="primary" (selectedChange)="selectBill($event)">
						<nb-option *ngFor="let bill of bills" [(value)]="bill.id">{{bill.reference}}</nb-option>
					</nb-select>
					<span class="text-danger" *ngIf="entityForm.hasError('required', ['bill']) && formDir.submitted" for="bill">{{ 'general.requiredBill' | translate }}</span>
				</div>
			</div>
			<div class="mg-top form-group row">
				<label class="col-2" for="amount">{{ 'general.amount' | translate }} *</label>
				<div class="col-5">
					<input class="form-control" id="amount" name="amount" formControlName="amount" nbInput placeholder="{{ 'general.amount' | translate }}" fullWidth status="primary" type="text">
					<span class="text-danger" *ngIf="entityForm.hasError('required', ['amount']) && formDir.submitted" for="amount">{{ 'general.requiredAmount' | translate }}</span>
				</div>
			</div>
			<div class="mg-top form-group row">
				<label class="col-2" for="date">{{ 'general.date' | translate }} *</label>
				<div class="col-5">
					<input class="form-control" id="date" name="date" formControlName="date"  nbInput placeholder="{{ 'general.date' | translate }}" status="primary" autocomplete="off" [nbDatepicker]="datepickerdate">
					<nb-datepicker #datepickerdate></nb-datepicker>
					<span class="text-danger" *ngIf="entityForm.hasError('required', ['date']) && formDir.submitted" for="date">{{ 'general.requiredDate' | translate }}</span>
				</div>
			</div>
			<div class="mg-top form-group row">
				<label class="col-2" for="description">{{ 'general.description' | translate }}</label>
				<div class="col-5">
					<textarea class="form-control" id="description" name="description" formControlName="description" nbInput placeholder="{{ 'general.description' | translate }}" fullWidth status="primary" rows="6"></textarea>
				</div>
			</div>
			<div class="mg-top form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" [nbSpinner]="loading" status="primary" nbButton>Save</button>
				</div>
			</div>
		</form>
	</nb-card-body>
</nb-card>
