<nb-card accent="primary">
	<nb-card-header>
		<h6>{{formTitle}}</h6>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="entityForm" #formDir="ngForm" (ngSubmit)="save(entityForm.value)" novalidate>
			<div class="mg-top form-group row">
				<label class="col-2" for="name">Name</label>
				<div class="col-5">
					<input class="form-control" id="name" name="name" formControlName="name" nbInput placeholder="Name" fullWidth status="primary" type="text">
					<span class="text-danger" *ngIf="entityForm.hasError('required', ['name']) && formDir.submitted" for="name">Name is required</span>
				</div>
			</div>
			<div class="mg-top form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" [nbSpinner]="loading" status="primary" nbButton>Save</button>
				</div>
			</div>
		</form>
	</nb-card-body>
</nb-card>
