<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()" >
      <img *ngIf="logo && logo != 'null'" [src]="logo" class="navbar-brand" width="55">
      <span *ngIf="title && title != 'null'">{{title}}</span>
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-form-field *ngIf="langs && langs.length > 0">
        <nb-icon nbPrefix icon="globe-outline"></nb-icon>
        <nb-select placeholder="EN" (selectedChange)="onLangChange($event)" [(selected)]="selectedLang">
          <nb-option *ngFor="let lang of langs" [value]="lang.value" >{{lang.name}}</nb-option>
        </nb-select>
      </nb-form-field>
    </nb-action>
    <nb-action class="control-item" [icon]="icon" (click)="changeTheme()"></nb-action>
    <nb-action class="control-item" icon="settings-outline" link="/dashboard/setting-list/company" ></nb-action>
    <nb-action class="user-action" >
      <nb-user [nbContextMenu]="userMenu"
        nbContextMenuTag="my-context-menu"
        [name]="user"
        [title]="email">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
