<ng-container>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <a class="float-end" href="#" routerLink="/dashboard/chart-accounts/create" nbButton status="primary"
          size="small">
          <nb-icon icon="plus"></nb-icon> {{ 'chartOfAccount.newChartOfAccount' | translate }}
        </a>
      </div>
    </div>
    <nb-card accent="primary" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header class="row">
        <h4 class="col-6"> {{ 'chartOfAccount.title' | translate }}</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-4">
          <div class="col-6">
            <nb-select [(ngModel)]="_tableService.pageSize">
              <nb-option [value]="10">10 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="20">20 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="50">50 {{ 'table.itemPerPage' | translate }}</nb-option>
            </nb-select>
          </div>
          <div class="col-6">
            <nb-form-field class="float-end">
              <nb-icon nbPrefix icon="search-outline"></nb-icon>
              <input nbInput name="searchTerm" type="text" [(ngModel)]="_tableService.searchTerm">
            </nb-form-field>
          </div>
        </div>
        <div class="mt-5">
          <nb-tabset (changeTab)="tabChanged($event)">
            <!-- All accounts -->
            <nb-tab tabTitle="All accounts">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' | translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' | translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of chartaccounts | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
            <!-- Assets -->
            <nb-tab tabTitle="Assets">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' |translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' |translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of assetsAccount | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
            <!-- Liabilities & Credit Cards -->
            <nb-tab tabTitle="Liabilities & Credit Cards">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' |translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' |translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of liabilityAccounts | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
            <nb-tab tabTitle="Income">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' |translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' |translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of incomeAccounts | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
            <nb-tab tabTitle="Expenses">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' |translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' |translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of expensesAccounts | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
            <nb-tab tabTitle="Equity">
              <div class="table-responsive mt-4">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th class="account-id" scope="col" sortable="accountId" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountId' |translate}}
                      </th>
                      <th class="account-name" scope="col" sortable="accountName" (sort)="onSort($event)">
                        {{ 'chartOfAccount.account' |translate}}
                      </th>
                      <th class="account-type" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'chartOfAccount.accountType' |translate}}
                      </th>
                      <th class="account-category" scope="col" sortable="accountType" (sort)="onSort($event)">
                        {{ 'general.category' | translate }}
                      </th>
                      <th>{{ 'general.status' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of equityAccounts | async">
                      <td>
                        <ngb-highlight [result]="item.accountId" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="item.accountName" [term]="_tableService.searchTerm"></ngb-highlight>
                      </td>
                      <td>
                        <span *ngIf="item.accountType">
                          <ngb-highlight [result]="item.accountType.name" [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>
                      <td>
                        <span *ngIf="item.accountType && item.accountType.accountTypeCategory">
                          <ngb-highlight [result]="item.accountType.accountTypeCategory.name"
                            [term]="_tableService.searchTerm">
                          </ngb-highlight>
                        </span>
                      </td>

                      <td>
                        <a [routerLink]="['/dashboard/chart-accounts/edit',item.id]" nbButton ghost status="warning">
                          <nb-icon icon="edit"></nb-icon>
                        </a>
                        <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                          <nb-icon icon="close-outline"></nb-icon>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
                [collectionSize]="total$ | async">
              </ngb-pagination>
            </nb-tab>
          </nb-tabset>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</ng-container>
