  <nb-layout>
  <nb-layout-column>

    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2">

            <nb-card>
              <nb-card-header>
                <nav class="navigation">
                  <a href="" class="link back-link" aria-label="Back">
                    <nb-icon icon="arrow-back"></nb-icon>
                  </a>
                </nav>
              </nb-card-header>
              <nb-card-body>

                <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
                  <p class="alert-title"><b>Oh snap!</b></p>
                  <ul class="alert-message-list">
                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                  </ul>
                </nb-alert>

                <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
                  <p class="alert-title"><b>Hooray!</b></p>
                  <ul class="alert-message-list">
                    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                  </ul>
                </nb-alert>

                <h2 id="title" class="title text-center">{{'auth.requestPassword.forgotPassword' | translate }}</h2>
                <p class="sub-title text-center">
                  {{'auth.requestPassword.subTitle' | translate }}
                </p>

                <form [formGroup]="rqpForm" (ngSubmit)="requestPassword(rqpForm.value)"  #formDir="ngForm" aria-labelledby="title">
                  <div class="form-control-group mt-5">
                    <label class="label" for="input-email">{{'auth.requestPassword.email' | translate }}:</label>
                    <input nbInput
                           id="input-email"
                           name="email"
                           pattern=".+@.+\..+"
                           placeholder="{{'general.email' | translate }}"
                           autofocus
                           fullWidth
                           formControlName="email"
                           fieldSize="large">
                  <ng-container *ngIf="rqpForm.hasError('required', ['email']) && formDir.submitted">
                      <p class="caption status-danger" >
                        {{'general.requiredEmail' | translate }}
                      </p>
                  </ng-container>
                  </div>

                  <button class="mt-4 mb-5" nbButton
                          fullWidth
                          status="primary"
                          [nbSpinner]="loading"
                          size="large">
                          {{'form.submit' | translate }}
                  </button>
                </form>

                <section class="row" aria-label="Sign in or sign up">
                  <div class="col-6"><a class="text-link" routerLink="/auth/sign-in"><b>{{'general.signIn' | translate }}</b></a></div>
                  <div class="col-6">
                    <a routerLink="/auth/sign-up" class="text-link float-end">
                      <b>
                        {{'general.signUp' | translate }}
                      </b>
                    </a>
                  </div>
                </section>

              </nb-card-body>
            </nb-card>

          </div>
        </div>
      </div>
    </section>
  </nb-layout-column>
</nb-layout>
