<ng-container>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <a class="float-end" href="#" routerLink="/dashboard/payment/create" nbButton status="primary" size="small">
          <nb-icon icon="plus"></nb-icon>{{ 'general.newExpense' | translate }}
        </a>
        <a class="float-end me-2" href="#" routerLink="/dashboard/revenue/create" nbButton status="primary" size="small">
          <nb-icon icon="plus"></nb-icon>
          {{ 'general.newIcome' | translate }}
        </a>

        <button class="float-end me-2"
          nbTooltip="{{ 'general.transactionToolip' | translate }}"
            nbTooltipPlacement="top" nbTooltipStatus="warning" size="small"  nbButton status="warning">
          <nb-icon icon="alert-circle-outline"></nb-icon>
        </button>
      </div>
    </div>
    <nb-card accent="primary" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
      <nb-card-header class="row">
        <h4 class="col-6">{{ 'general.transactions' | translate }}</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-4">
          <div class="col-6">
            <nb-select [(ngModel)]="_tableService.pageSize">
              <nb-option [value]="10">10 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="20">20 {{ 'table.itemPerPage' | translate }}</nb-option>
              <nb-option [value]="50">50 {{ 'table.itemPerPage' | translate }}</nb-option>
            </nb-select>
          </div>
          <div class="col-6">
            <nb-form-field class="float-end">
              <nb-icon nbPrefix icon="search-outline"></nb-icon>
              <input nbInput name="searchTerm" type="text" [(ngModel)]="_tableService.searchTerm">
            </nb-form-field>
          </div>
        </div>
        <div>
          <div class="table-responsive mt-4">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th class="name" scope="col" sortable="date" (sort)="onSort($event)">{{ 'general.date' | translate }}</th>
                  <th class="name" scope="col">{{ 'general.account' | translate }}</th>
                  <th class="category" scope="col">{{ 'general.category' | translate }}</th>
                  <th class="payment" scope="col" sortable="category" (sort)="onSort($event)">{{ 'general.type' | translate }}</th>
                  <th class="platform" scope="col" sortable="platform" (sort)="onSort($event)">{{ 'general.source' | translate }}</th>
                  <th class="description" scope="col" sortable="description" (sort)="onSort($event)">{{ 'general.description' | translate }}</th>
                  <th class="revenue" scope="col" sortable="tax" (sort)="onSort($event)">{{ 'general.tax' | translate }}</th>
                  <th class="revenue" scope="col" sortable="amount" (sort)="onSort($event)">{{ 'general.amount' | translate }}</th>
                  <th>{{ 'table.actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of transactions | async">
                  <td>
                    <ngb-highlight [result]="item.date | date: 'MMM d, y, HH:mm'" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span *ngIf="item.accountBalance">
                      <ngb-highlight [result]="item.accountBalance.accountName" [term]="_tableService.searchTerm">
                      </ngb-highlight>
                    </span>
                    <span *ngIf="!item.accountBalance">N/A</span>
                  </td>
                  <td>
                    <ngb-highlight *ngIf="item.account" [result]="item.account.accountName"
                      [term]="_tableService.searchTerm"></ngb-highlight>
                    <span *ngIf="!item.account">N/A</span>
                  </td>
                  <td>
                    <span *ngIf="item.category === 'Income'"  class="badge badge-primary">
                      <ngb-highlight [result]="item.category" [term]="_tableService.searchTerm"></ngb-highlight>
                    </span>
                    <span *ngIf="item.category === 'Expense'"  class="badge badge-warning">
                      <ngb-highlight [result]="item.category" [term]="_tableService.searchTerm"></ngb-highlight>
                    </span>
                    <span *ngIf="item.category === 'ManualJournal'" class="badge badge-info">
                      <ngb-highlight [result]="item.category" [term]="_tableService.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.platform" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td class="text-wrap">
                    <ngb-highlight [result]="item.note" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span *ngIf="currency">{{currency.symbol}}</span>
                    <ngb-highlight [result]="item.totalTax" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td class="text-primary">
                    <span *ngIf="currency">{{currency.symbol}}</span>
                    <ngb-highlight [result]="item.amount" [term]="_tableService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <a nbButton ghost status="danger" (click)="deleteConfirmation(item.id)">
                      <nb-icon icon="close-outline"></nb-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <ngb-pagination [(page)]="_tableService.page" [pageSize]="_tableService.pageSize"
            [collectionSize]="total$ | async">
          </ngb-pagination>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</ng-container>
