<nb-card >
    <nb-card-header>
      Pages views
      <button nbButton size="small" ghost status="primary" class="float-end">
        <nb-icon icon="download-outline"></nb-icon>
        Export
      </button>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th scope="col">Pages</th>
                <th scope="col">Views</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>/iconic/products/bike</td>
                <td>50532</td>
                <td>88.70%</td>
              </tr>
              <tr>
                <td>/iconic/products/watch</td>
                <td>32052</td>
                <td>77.25%</td>
              </tr>
              <tr>
                <td>/iconic/products/headphone</td>
                <td>23520</td>
                <td>66.58%</td>
              </tr>
              <tr>
                <td>/iconic/products/basket</td>
                <td>9850</td>
                <td>35.03%</td>
              </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>
